main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #1c1e1f;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
}

#loader {
    display: none;;
}

input {
    text-align: center;
}