body {
    background-color: #181a1b;
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
    min-height: 100vh;
}

p, h1 {
    color: white;
    text-align: center;
}

label {
    color: rgb(170, 168, 168);
}

a {
    color: #9ccfba;
    text-decoration: none;
}

input {
    all: unset;
    background-color: #181a1b;
    text-align: left;
    color: #ffffff
}