body {
    background-color: #181a1b;
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
    min-height: 100vh;
}

p, label, h1 {
    color: white;
    text-align: center;
}

a {
    color: #9ccfba;
    text-decoration: none;
}

input {
    all: unset;
    background-color: #1c1e1f;
    text-align: left;

    background-color: #181a1b;
}